 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 :root {
     --para: black;
     --text: rgb(211, 205, 205);
     --text: rgb(211, 205, 205);
     --dark-text: rgb(42, 42, 44);
     --form: rgba(232, 16, 27, 0.659);
     --hover: rgb(181, 90, 4);
     --logo: rgb(220, 125, 37);
     --links: rgb(241, 169, 110);
     --button-border: rgb(255, 38, 0);
     --button-hover: rgb(241, 147, 88);
 }

 .my-btn {
     font-size: 15px;
     border-radius: 50px;
     height: 50px;
     font-weight: 500;
     cursor: pointer;
     padding: 0px 15px;
     animation: slideUpToDown 4s ease-out 1;
 }

 @keyframes slideUpToDown {
     from {
         transform: translateY(-100%);
     }

     to {
         transform: translateY(0);
     }
 }

 .my-btn:hover {
     background-color: var(--button-hover);
     color: white;
     border: 1px solid var(--button-border);
 }

 .bg-section {
     width: 100%;
     height: 100vh;
     background-image: url(./images/bg1.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
 }


 /* Navbar */

 .navbar {
     width: 100%;
     height: 80px;
     /* background-color: rgb(161, 161, 169); */
     backdrop-filter: blur(15.5px);
     --webkit-backdrop-filter: blur(15.5px) padding: 15px 150px;
     border-bottom: 0.2px solid rgb(95, 95, 97);
     position: fixed;
     z-index: 1000;
 }

 .navbar .navbar-brand {
     color: var(--logo);
     font-size: 35px;
     font-weight: 800;
     font: bolder;
     margin-left: 80px;
 }

 .navbar-nav {
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .navbar-nav .nav-item .nav-link {
     /* color: rgb(112, 20, 34); */
     color: var(--links);
     font-size: 20px;
     font-weight: 700;
     /* float: right; */
     display: inline-block;
     position: relative;
     /* margin-left: 10px; */
 }

 .navbar-nav .nav-item .nav-link:hover {
     font-size: 25px;
     border-bottom: 2px solid var(--hover);
     color: var(--hover);
     font-weight: 800;
 }

 .navbar-nav .nav-item .nav-link.active {
     font-size: 25px;
     border-bottom: 2px solid var(--hover);
     color: var(--hover);
     font-weight: 800;
 }


 /* Home */

 .home-wrapper {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
 }

 .home-text {
     color: var(--text);
     font-size: 40px;
     font-weight: bold;
     margin-bottom: 20px;
 }

 span {
     font-weight: 800;
 }


 /* Destination */

 .destinations-wrapper {
     background-image: url(./images/bg2.jpg);
     width: 100%;
     height: 100%;
 }

 .destinations-wrapper h2 {
     color: var(--text);
 }

 .destinations-wrapper .card {
     margin: 15px;
     width: 90%;
     row-gap: 1.5rem;
     column-gap: 0;
     border-radius: 50px;
     /* padding-left: 15px; */
     overflow: hidden;
 }

 .destinations-wrapper .card:hover {
     box-shadow: 2px 5px 15px rgb(15, 14, 14);
     transform: translateY(-15px);
 }

 .card img {
     height: 40vh;
 }

 .card .card-body h4 {
     text-align: center;
     font-size: 23px;
     font-weight: 800;
     text-transform: uppercase;
     color: rgb(4, 4, 53);
     letter-spacing: 0.01cm;
 }

 .card .card-body p {
     font-size: 15px;
     text-align: justify;
 }


 /* About */

 .about-wrapper {
     background-image: url(./images/bg3.jpg);
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
     backdrop-filter: blur(15.5px);
     --webkit-backdrop-filter: blur(15.5px);
 }

 .about-wrapper .container {
     padding-top: 50px;
 }

 .image-section {
     width: 100%;
     height: 100%;
     border-radius: 2px solid black;
     /* overflow: hidden; */
 }

 .about-img {
     width: 100%;
     height: 90%;
     object-fit: cover;
     object-position: center;
     /* margin: 30px; */
 }

 .about-content {
     color: var(--text);
     /* padding: 40px; */
 }

 .about-content .about-title {
     font-size: 30px;
     text-align: center;
     padding: 5px;
 }

 .about-content .about-info {
     font-size: 18px;
     text-align: justify;
     padding: 5px;
 }

 .about-content .my-btn {
     margin-right: 10px;
 }


 /* Contact */

 .contact-wrapper {
     background-image: url(./images/bg4.jpg);
     width: 100%;
     height: 100vh;
     background-position: center;
     background-size: cover;
 }

 .contact-wrapper .container {
     padding-top: 50px;
     display: flex;
     justify-content: center;
     /* Horizontally center */
     align-items: center;
 }

 .contact-wrapper h2 {
     color: rgb(232, 232, 232);
 }

 .contact-wrapper span {
     font-weight: 600;
 }

 .contact-wrapper p {
     font-size: 18px;
     color: var(--text);
 }

 .contact-wrapper .form-label {
     color: var(--text);
     font-size: 18px;
     padding-left: 20px;
     font-weight: 500;
 }

 .contact-wrapper .form-label:hover {
     font-weight: 700;
 }

 .contact-wrapper .form-control {
     color: black;
     border-radius: 50px;
     padding-left: 30px;
 }

 .contact-wrapper .form-control:hover {
     border: 2px solid var(--form);
     /* border-radius: 50px; */
 }

 ::placeholder {
     font-size: 12px;
 }