 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 :root {
     --bg-color: rgb(217, 215, 215);
     --text: rgb(54, 53, 53);
     --heading: rgb(172, 6, 6);
     --button: rgb(8, 111, 230);
     --primary: rgb(136, 35, 35);
     --secondary: rgb(11, 198, 152);
     --hover: rgb(241, 147, 88);
 }

 .my-btn {
     font-size: 20px;
     ;
     border-radius: 50px;
     height: 60px;
     font-weight: 500;
     cursor: pointer;
     padding: 0px 10px;
     animation: slideRightToLeft 4s ease-out 1;
 }

 .my-btn:hover {
     background-color: var(--hover);

 }

 /* .home-wrapper{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    overflow-x: hidden;
} */


 /* .header-wrapper{
    background: linear-gradient(45deg, rgb(199, 88, 88), rgb(109, 109, 220), rgb(143, 76, 143))
} */

 .bg-section {
     width: 100%;
     height: 100vh;
     background-image: url(./images/image6.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
 }

 .navbar {
     width: 100%;
     height: 80px;
     /* background-color: rgb(161, 161, 169); */
     backdrop-filter: blur(15.5px);
     --webkit-backdrop-filter: blur(15.5px) padding: 15px 150px;
     border-bottom: 0.5px solid rgb(95, 95, 97);
     position: fixed;
     z-index: 1000;
 }

 .navbar .navbar-brand {
     color: rgb(220, 125, 37);
     font-size: 35px;
     font-weight: 600;
     font: bolder;
     margin-left: 80px;
 }

 .navbar-nav {
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
 }



 .navbar-nav .nav-item .nav-link {
     /* color: rgb(112, 20, 34); */
     color: rgb(241, 169, 110);
     font-size: 25px;
     font-weight: 600;
     /* float: right; */
     display: inline-block;
     position: relative;
     /* margin-left: 10px; */
 }

 /* .navbar-nav .nav-item .nav-link::after {
     position: absolute;
     content: '';
     left: 0;
     width: 0;
     height: 2px;
     background-color: rgb(222, 63, 63);
     transition: 0.3s;
     bottom: 0;
 }

 .navbar-nav .nav-item .nav-link.active::after,
 .navbar-nav .nav-item .nav-link:hover::after {
     width: 100%;
 } */

 .navbar-nav .nav-item .nav-link:hover {
     border-bottom: 2px solid rgb(220, 125, 37);
     color: rgb(220, 125, 37);

 }

 .navbar-nav .nav-item .nav-link.active {
     border-bottom: 2px solid rgb(220, 125, 37);
     color: rgb(220, 125, 37);
 }

 .home-wrapper {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;

 }

 .home-text {
     color: rgb(211, 205, 205);
     font-size: 40px;
     font-weight: bold;
     margin-bottom: 20px;

 }

 span {
     font-weight: 800;
 }

 @keyframes slideLeftToRight {
     from {
         transform: translateY(-100%);
     }

     to {
         transform: translateY(0);
     }
 }

 @keyframes slideRightToLeft {
     from {
         transform: translateY(-100%);
     }

     to {
         transform: translateY(0);
     }
 }

 .about-wrapper {
     background-image: url(./images/bg10.jpg);
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
     backdrop-filter: blur(15.5px);
     --webkit-backdrop-filter: blur(15.5px);


 }

 /* .about-section {
     width: 100%;
     height: 100vh;
     padding: 20px;
     align-items: center;
     display: flex;
 } */

 .about-wrapper .container {
     padding-top: 80px;
 }

 .image-section {
     width: 100%;
     height: 100%;
     border-radius: 2px solid black;
     /* overflow: hidden; */
 }

 .about-img {
     width: 100%;
     height: 90%;
     object-fit: cover;
     object-position: center;
     /* margin: 30px; */
 }

 .about-content {
     color: lightgray;
     /* padding: 40px; */
 }

 .about-content .about-title {
     font-size: 30px;
     text-align: center;
     padding: 5px;
 }

 .about-content .about-info {
     font-size: 20px;
     text-align: justify;
     padding: 5px;
 }

 .about-content .my-btn {
     margin-right: 10px;
 }

 .destinations-wrapper {
     background-image: url(./images/halima-bouchouicha-_Yu-zWNMdyM-unsplash.jpg);

     /* background: linear-gradient(45deg, rgb(204, 62, 83) rgb(210, 169, 210) rgb(208, 208, 231)); */
     /* background: linear-gradient(45deg, rgb(251, 225, 229), rgb(210, 169, 210), rgb(208, 208, 231)); */
     width: 100%;
     height: 100%;
 }

 .destinations-wrapper h2 {
     color: lightgray;

 }

 .destinations-wrapper .card {
     margin: 15px;
     width: 90%;
     row-gap: 1.5rem;
     column-gap: 0;
     border-radius: 50px;
     /* padding-left: 15px; */
     overflow: hidden;

 }

 .destinations-wrapper .card:hover {
     box-shadow: 2px 5px 15px rgb(121, 117, 117);
     transform: translateY(-15px);
 }

 .card img {
     height: 40vh;
 }

 .card .card-body h4 {
     text-align: center;
     font-size: 23px;
     font-weight: 600;
     text-transform: uppercase;

 }

 .card .card-body p {
     font-size: 18px;
     text-align: justify;
 }

 .contact-wrapper {
     background-image: url(./images/bg12.jpg);
     width: 100%;
     height: 100vh;
     background-position: center;
     background-size: cover;
 }

 .contact-wrapper .container {
     padding-top: 100px;
     display: flex;
     justify-content: center;
     /* Horizontally center */
     align-items: center;
 }

 .contact-wrapper h2 {
     color: rgb(232, 232, 232);
 }

 .contact-wrapper span {
     font-weight: 600;
 }

 .contact-wrapper p {
     font-size: 20px;
     color: lightgray;
 }

 .contact-wrapper .form-label {
     color: lightgray;
     font-size: 23px;
     padding-left: 20px;
 }

 .contact-wrapper .form-control {
     color: black;
     border-radius: 50px;
     padding-left: 40px;
 }

 .contact-wrapper .form-control:hover {
     border: 2px solid rgba(232, 16, 27, 0.659);
     /* border-radius: 50px; */
 }

 /* ::placeholder {
     padding-left: 20px;
 } */

 .contact-wrapper .my-btn {}